@use "../abstracts" as *;

body {
  font-family: var(--font-body);
  font-size: 16px;
}

h2 {
  font-size: to-rem(18);
  font-family: var(--font-head);
  line-height: 1.2;
  color: var(--sdesign-laranja);
}

.secao-bg__preto {
  background: var(--sdesign-preto);

  h2 {
    color: var(--sdesign-branco);
    text-align: center;
    margin-bottom: to-rem(4);
  }

  .container > p {
    color: var(--sdesign-branco);
    text-align: center;
    font-size: to-rem(10);
    line-height: 1.5;
    margin: auto;
  }
}

p {
  color: var(--sdesign-preto);
  line-height: 1.5;

  strong {
    font-family: var(--font-head);
  }
}

.container {
  padding: 0 to-rem(18);

  @include media-min(medium) {
    padding: 0 to-rem(40);
  }
}

.botao {
  font-size: to-rem(12);
  line-height: 1.2;
  padding: to-rem(10) to-rem(16) to-rem(12);
  border-radius: to-rem(100);
  transition: 0.3s all ease-in-out;

  &:hover {
    transition: 0.3s all ease-in-out;
  }

  &.--primario {
    color: var(--sdesign-branco);
    background: var(--sdesign-laranja);

    &:hover {
      background: #d63d31;
    }
  }

  &.--secundario {
    color: var(--sdesign-branco);
    background: transparent;

    &:hover {
      color: var(--sdesign-preto);
      background: var(--sdesign-branco);
    }
  }
}

footer {
  min-height: to-rem(28);
  background: var(--sdesign-preto);
}
