@font-face {
  font-family: 'Ufes Sans Bold'; 
  src: url('../assets/fonts/UfesSans-Bold.ttf') format('truetype');
  font-weight: 700; 
  font-style: normal; 
}

@font-face {
  font-family: 'Ufes Sans Regular'; 
  src: url('../assets/fonts/UfesSans-Regular.ttf') format('truetype');
  font-weight: 400; 
  font-style: normal; 
}

:root {
  //TIPOGRAFIA ================================
  --font-body: "Ufes Sans Regular", sans-serif;
  --font-head: "Ufes Sans Bold", sans-serif;

  --sdesign-laranja: #F54739;
  --sdesign-roxo: #9E005D;
  --sdesign-amarelo: #F47C03;
  --sdesign-preto: #1D1D1B;
  --sdesign-cinza-100: #D2D2D2;
  --sdesign-cinza-200: #F5F5F5;
  --sdesign-branco: #FFFFFF;
}
