@use "../abstracts" as *;

.apoio {
  padding: to-rem(28) 0;

  .container {
    ul {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      column-gap: to-rem(16);
      row-gap: to-rem(16);
      margin-top: to-rem(18);

      li {
        max-height: to-rem(56);
        max-width: to-rem(100);

        img {
          width: 100%;
        }
      }
      // img {
      //   max-height: to-rem(56);
      //   max-width: to-rem(100);
      // }
    }
  }

  @include media-min(medium) {
    padding: to-rem(62) 0;

    .container {
      ul {
        margin-top: to-rem(40);
        column-gap: to-rem(20);
        row-gap: to-rem(20);

        li {
          max-width: to-rem(172);
          max-height: to-rem(140);

          img {
            width: 100%;
          }
        }
      }
    }
  }

  @include media-min(desktop-large) {
    .container {
      ul {
        margin-top: to-rem(56);
        column-gap: to-rem(102);
        row-gap: to-rem(54);

        li {
          max-width: none;
          max-height: none;

          img {
            transform: scale(1.2);
          }
        }
      }
    }
  }
}
