@use "../abstracts" as *;

#convidados {
  padding: to-rem(38) 0 to-rem(58);

  .swiper {
    margin-top: to-rem(14);
    width: 100%;

    .convidados-lista {
      width: 100%;
      min-width: fit-content;

      .convidado-item {
        width: 100%;
        max-width: to-rem(176);

        .redes {
          width: 100%;
          height: to-rem(44);
          padding: 0 to-rem(16);
          background-color: var(--sdesign-branco);
          border-radius: to-rem(22);
          margin-top: to-rem(-30);
          box-shadow: 0px to-rem(-2) to-rem(8) 0 #00000008;
          display: flex;
          justify-content: center;
          align-items: center;
          column-gap: to-rem(16);
          position: relative;
          z-index: 4;

          a {
            svg {
              width: to-rem(22);
              height: to-rem(22);

              path {
                transition: 0.3s ease-in-out;
              }
            }

            &:hover {
              svg path {
                fill: var(--sdesign-laranja);
                transition: 0.3s ease-in-out;
              }
            }
          }
        }

        p {
          font-size: to-rem(16);
          font-family: var(--font-head);
          line-height: 1;
          color: var(--sdesign-branco);
          margin-top: to-rem(10);
        }

        span {
          font-size: to-rem(8);
          line-height: 1.5;
          color: var(--sdesign-branco);
        }

        p,
        span {
          display: block;
          width: 100%;
          text-align: center;
        }
      }
    }
  }

  @include media-min(medium) {
    padding: to-rem(80) 0 to-rem(120);

    .swiper {
      margin-top: to-rem(28);

      .convidados-lista .convidado-item {
        max-width: to-rem(374);

        img {
          width: 100%;
        }

        .redes {
          width: 100%;
          height: to-rem(92);
          padding: 0 to-rem(32);
          border-radius: to-rem(46);
          margin-top: to-rem(-64);
          column-gap: to-rem(38);

          a svg {
            width: to-rem(48);
            height: to-rem(48);
          }
        }

        p {
          font-size: to-rem(32);
          margin-top: to-rem(22);
        }

        span {
          font-size: to-rem(18);
        }
      }
    }
  }
}
