@use "../abstracts" as *;

.faq {
  padding-bottom: to-rem(8);

  .container {
    h2 {
      text-align: center;
      color: var(--sdesign-preto);
      max-width: to-rem(240);
      margin: auto;
    }

    p {
      text-align: center;
      font-size: to-rem(10);
      line-height: 1.5;
      margin: to-rem(4) auto to-rem(12);
    }

    .faq-lista {
      max-width: to-rem(488);
      margin: 0 auto;

      details {
        cursor: pointer;

        &:not(:last-child) {
          margin-bottom: to-rem(4);
        }

        summary {
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-family: var(--font-head);
          font-size: to-rem(12);
          padding: to-rem(8) to-rem(16);
          border-radius: to-rem(6);
          background: #f5f5f5;
        }

        p {
          text-align: left;
          line-height: 1.5;
          border-left: to-rem(6) solid var(--sdesign-laranja);
          background-color: var(--sdesign-branco);
          border-radius: 0 0 to-rem(6) to-rem(6);
          margin: 0;
          padding: to-rem(8) to-rem(6);
        }

        &[open] {
          overflow: hidden;

          summary {
            background: var(--sdesign-laranja);
            color: var(--sdesign-branco);
            border-bottom-left-radius: 0;
          }

          // p {
          //   border-left: to-rem(6) solid var(--sdesign-laranja);
          //   background-color: var(--sdesign-branco);
          //   border-radius: 0 0 to-rem(6) to-rem(6);
          //   margin: 0;
          //   padding: to-rem(8) to-rem(6);
          // }
        }
      }
    }
  }

  @include media-min(medium) {
    padding: to-rem(18) 0;

    .container {
      h2 {
        max-width: none;
      }

      p {
        font-size: to-rem(18);
        margin-bottom: to-rem(45);
      }

      .faq-lista {
        max-width: to-rem(688);

        details {
          &:not(:last-child) {
            margin-bottom: to-rem(8);
          }

          summary {
            font-size: to-rem(22);
            padding: to-rem(18) to-rem(38);
            border-radius: to-rem(12);
          }

          p {
            font-size: to-rem(22);
            border-radius: 0 0 to-rem(12) to-rem(12);
            padding: to-rem(18) to-rem(38);
          }
        }
      }
    }
  }

  @include media-min(desktop-large) {
    padding: to-rem(62) 0 to-rem(160);

    .container {
      h2 {
        font-size: to-rem(40);
      }

      p {
        font-size: to-rem(16);
      }

      .faq-lista {
        max-width: none;
      }
    }
  }
}