@use "../abstracts" as *;

.inscricao {
  padding: to-rem(24) 0;

  .container {
    display: flex;
    justify-content: flex-end;
    max-width: to-rem(488);
    margin: 0 auto;

    .inscricao-container {
      max-width: to-rem(172);

      h2 {
        color: var(--sdesign-preto);
      }

      p {
        font-size: to-rem(10);
        margin: to-rem(4) 0 to-rem(16);
      }
    }
  }

  @include media-min(medium) {
    padding: to-rem(50) 0;

    .container {
      max-width: to-rem(800);

      .inscricao-container {
        max-width: to-rem(372);

        p {
          font-size: to-rem(18);
        }
      }
    }
  }
}
