@use "../abstracts"as *;

.main {
  background-color: var(--sdesign-preto);
  margin-top: to-rem(-72);
  padding-top: to-rem(72);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
  row-gap: to-rem(10);
  min-height: 450px;

  .swiper-wrapper {
    width: 100vw;
    height: 36vh;
    place-items: center;

    @media (min-width: 450px) {
      height: 52vh;
    }

    @media (min-width: 550px) {
      height: 65vh;
    }

    @media (min-width: 650px) {
      height: 75vh;
    }

    @media (min-width: 768px) {
      height: 85vh;
    }

    @media (min-width: 850px) {
      height: 100vh;
    }

    @media (min-width: 1024px) {
      height: 36vh;
    }

    @media (min-width: 1400px) {
      height: 50vh;
    }

    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .banner {
    &__img {
      width: 100vw;
      height: 36vh;
      object-fit: cover;
      position: relative;
      background-image: url("../assets/img/trilha-banner_cllr.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    &__botao {
      width: 165px;
      height: 36px;
      position: absolute;
      color: #fff;
      background-color: var(--sdesign-laranja);
      border-radius: 28px;
      font-size: 12px;
      top: 22px;
      left: 28px;
    }

    @media (min-width: 450px) {
      &__img {
        height: 52vh;
      }
    }

    @media (min-width: 550px) {
      &__img {
        height: 65vh;
      }
    }

    @media (min-width: 650px) {
      &__img {
        height: 75vh;
      }
    }

    @media (min-width: 768px) {
      &__img {
        background-image: url("../assets/img/trilha-banner_tablet.png");
        height: 85vh;
      }

      &__botao {
        font-size: 18px;
        top: auto;
        left: auto;
        bottom: 36px;
        right: 10%;
        width: 210px;
        height: 42px;
      }
    }

    @media (min-width: 850px) {
      &__img {
        height: 100vh;
      }
    }

    @media (min-width: 1024px) {
      &__img {
        background-image: url("../assets/img/trilha-banner.png");
        height: 36vh;
      }

      &__botao {
        top: auto;
        left: auto;
        bottom: 36px;
        right: 10%;
        font-size: 24px;
        width: 328px;
        height: 58px;
      }
    }

    @media (min-width: 1400px) {
      &__img {
        height: 50vh;
      }
    }
  }

  .banner-bg {
    display: none;

    &.bg__img-1 {
      max-width: to-rem(90);
    }

    &.bg__img-2 {
      margin-left: auto;
      max-width: to-rem(146);
      position: relative;
      top: -12px;
      left: 20px;
    }
  }

  .main-container {
    position: relative;
    z-index: 5;

    .evento-info {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: to-rem(14);
      gap: 3rem;

      img {
        max-width: to-rem(40);
      }

      span {
        font-size: to-rem(12);
        font-family: var(--font-head);
        line-height: 1.5;
        color: var(--sdesign-branco);
      }
    }

    .main-titulo {
      color: var(--sdesign-branco);
      text-align: center;
      font-family: var(--font-head);
      font-size: to-rem(26);
      font-weight: var(--medium);
      line-height: 1.2;
      margin: to-rem(22) 0 to-rem(4);

      &__subtitulo {
        display: block;
        font-size: to-rem(18);
      }

      &__destaque {
        color: var(--sdesign-verde);
      }
    }

    .main-paragrafo {
      text-align: center;
      color: var(--sdesign-branco);
      font-size: to-rem(10);
      line-height: 1.5;
    }

    .main-ctas {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: to-rem(12);
      margin-top: to-rem(22);
    }
  }

  @include media-min(medium) {
    .banner-bg {
      display: block;

      &.bg__img-1 {
        max-width: to-rem(320);
      }

      &.bg__img-2 {
        display: none;
      }
    }

    .main-container {
      .evento-info {
        img {
          max-width: to-rem(86);
        }

        span {
          font-size: to-rem(24);
        }
      }

      .main-titulo {
        font-size: to-rem(54);
        margin: to-rem(52) 0 to-rem(8);

        &__subtitulo {
          font-size: to-rem(36);
        }
      }

      .main-paragrafo {
        font-size: to-rem(18);
      }

      .main-ctas {
        margin-top: to-rem(48);
      }
    }
  }

  @include media-min(desktop) {
    .banner-bg {
      &.bg__img-1 {
        max-width: to-rem(280);
      }

      &.bg__img-2 {
        max-width: to-rem(350);
        position: relative;
        top: -84px;
        left: 47px;
      }
    }
  }

  @include media-min(desktop-large) {
    margin-top: to-rem(80);
    padding: 0;
    justify-content: center;
    background-image: url("../assets/img/banner-bg-3.svg");
    background-repeat: no-repeat;
    background-position: 155% center;

    .banner-bg {
      display: none;
    }

    .main-container {
      width: 100%;
      max-width: to-rem(1216);

      .evento-info,
      .main-ctas {
        justify-content: flex-start;
      }

      .main-titulo,
      .main-paragrafo {
        text-align: left;
      }
    }
  }

  @include media-min(1600px) {
    background-position: 125% center;
  }

  @include media-min(1800px) {
    background-position: right center;
  }
}