@use "../abstracts"as *;

.multiplas-perspectivas {
  padding-bottom: to-rem(40);
  overflow-x: hidden;
  overflow-y: hidden;

  .container {
    max-width: none;
    padding: 0;

    .left,
    .right {
      top: 10%;
      position: relative;
    }

    .left {
      left: -1vw;
      top: 1vh;
      transform: rotate(106deg);
    }

    .right {
      right: -18vw;
      top: 15vh;
    }

    .multiplas-container {
      max-width: to-rem(488);
      margin: auto;
      padding: to-rem(32) to-rem(20);

      h2 {
        width: fit-content;
        margin-bottom: to-rem(8);
      }

      p:not(:first-child) {
        margin-top: to-rem(14);
      }
    }
  }

  @include media-min(medium) {
    padding-bottom: to-rem(80);

    .container .multiplas-container {
      max-width: to-rem(688);

      h2 {
        margin-bottom: to-rem(40);
      }

      p {
        font-size: to-rem(16);

        &:not(:first-child) {
          margin-top: to-rem(20);
        }
      }
    }
  }

  @include media-min(desktop-large) {
    position: relative;

    .container {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      height: 542px;

      .left,
      .right {
        top: 10%;
        transform: scale(0.75);
        position: relative;
      }

      .left {
        left: 1vw;
        top: 14vh;
      }

      .right {
        right: 0vw;
        top: 22vh;
      }

      .multiplas-container {
        min-width: to-rem(584);
        max-width: to-rem(584);
        margin: 0;
      }
    }
  }

  @include media-min(1560px) {
    .container {

      .left,
      .right {
        transform: scale(0.9);
      }

      .left {
        left: -5vw;
        top: 12vh;
      }

      .right {
        right: -10vw;
      }
    }
  }

  @include media-min(1700px) {
    .container {

      .left,
      .right {
        transform: scale(1.0);
      }

      .left {
        left: -44px;
        top: 114px;
      }

      .right {
        right: -136px;
        top: 191px;
      }
    }
  }
}