@use "../global";
@use "../abstracts" as *;
@use "../components";

.main {
  background-color: var(--sdesign-preto);
  min-height: to-rem(472);
  margin-top: to-rem(-72);
  padding-top: to-rem(72);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;

  .banner-bg {
    position: absolute;

    &.bg__img-1 {
      width: 60vw;
      top: to-rem(54);
      right: 4%;
    }

    &.bg__img-2 {
      width: 48vw;
      bottom: to-rem(-4);
      right: 0;
    }
  }

  .main-container {
    position: relative;
    z-index: 5;

    .evento-info {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: to-rem(14);

      img {
        max-width: to-rem(40);
      }

      span {
        font-size: to-rem(12);
        font-family: var(--font-head);
        line-height: 1.5;
        color: var(--sdesign-branco);
      }
    }

    .main-titulo {
      color: var(--sdesign-branco);
      text-align: center;
      font-family: var(--font-head);
      font-size: to-rem(26);
      font-weight: var(--medium);
      line-height: 1.2;
      margin: to-rem(22) 0 to-rem(4);

      &__subtitulo {
        display: block;
        font-size: to-rem(18);
      }

      &__destaque {
        color: var(--sdesign-laranja);
      }
    }

    .main-paragrafo {
      text-align: center;
      color: var(--sdesign-branco);
      font-size: to-rem(10);
      line-height: 1.5;
    }

    .main-ctas {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: to-rem(12);
      margin-top: to-rem(22);
    }
  }
}

// SOBRE =================
#sobre {
  padding: to-rem(38) 0;

  .sobre-info {
    h2 {
      text-align: center;
      margin-bottom: to-rem(8);
    }

    p {
      font-size: to-rem(12);
      text-align: center;
      max-width: to-rem(488);
      margin: auto;
    }
  }

  .botao {
    margin: to-rem(16) auto 0;
  }

  .sobre-slider {
    width: 100%;
    max-width: to-rem(488);
    margin-top: to-rem(38);

    .swiper-wrapper {
      li img {
        width: 100%;
        border-radius: to-rem(16);
      }
    }
  }
}

.multiplas-perspectivas {
  padding-bottom: to-rem(40);

  .multiplas-container {
    max-width: to-rem(488);
    margin: auto;

    h2 {
      width: fit-content;
      margin-bottom: to-rem(8);
    }

    p:last-child {
      margin-top: to-rem(14);
    }
  }
}

.beneficios {
  padding: to-rem(56) 0 to-rem(38);

  h2 {
    margin: 0 auto to-rem(22);
    max-width: to-rem(220);
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .beneficios-lista {
      width: 100%;

      .beneficios-item {
        display: flex;
        align-items: center;
        column-gap: to-rem(4);

        &:not(:last-child) {
          margin-bottom: to-rem(18);
        }

        div {
          width: to-rem(92);

          img {
            margin: auto;
          }

          h3 {
            font-size: 16px;
            font-family: var(--font-head);
            line-height: 1;
            text-align: center;
            color: var(--sdesign-laranja);
          }
        }

        p {
          font-size: to-rem(12);
          line-height: 1.5;
          color: var(--sdesign-branco);
          width: calc(100% - to-rem(96));
        }
      }
    }

    .botao {
      margin-top: to-rem(28);
    }
  }
}

#convidados {
  padding: to-rem(38) 0 to-rem(58);

  .swiper {
    margin-top: to-rem(14);
    width: 100%;

    .convidados-lista {
      width: 100%;
      min-width: fit-content;

      .convidado-item {
        width: 100%;
        max-width: to-rem(176);

        .redes {
          width: 100%;
          height: to-rem(44);
          padding: 0 to-rem(16);
          background-color: var(--sdesign-branco);
          border-radius: to-rem(22);
          margin-top: to-rem(-30);
          box-shadow: 0px to-rem(-2) to-rem(8) 0 #00000008;
          display: flex;
          justify-content: center;
          align-items: center;
          column-gap: to-rem(16);
          position: relative;
          z-index: 4;
        }

        p {
          font-size: to-rem(16);
          font-family: var(--font-head);
          line-height: 1;
          color: var(--sdesign-branco);
          margin-top: to-rem(10);
        }
        
        span {
          font-size: to-rem(8);
          line-height: 1.5;
          color: var(--sdesign-branco);
        }

        p, span {
          display: block;
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}
