@use "../abstracts" as *;

header {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 100vw;
  z-index: 10;
  padding: to-rem(16) 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    z-index: 20;

    .header__menu {
      height: to-rem(40);
      width: to-rem(40);
      display: flex;
      justify-content: center;
      align-items: center;

      div {
        &,
        &::before,
        &::after {
          width: to-rem(28);
          height: to-rem(2);
          background: var(--sdesign-branco);
        }

        &::before,
        &::after {
          display: block;
          content: "";
          position: absolute;
          transition: 0.2s transform ease-in-out;
        }

        &::before {
          transform: translateY(to-rem(-8));
        }

        &::after {
          transform: translateY(to-rem(8));
        }
      }
    }
  }

  .header-nav {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    background: var(--sdesign-branco);
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s all ease-in-out;

    ul {
      width: 100%;
      padding-top: 20vh;

      li {
        &:not(:last-child) {
          margin-bottom: to-rem(20);
        }

        a {
          font-size: 16px;
          line-height: 1.5;
          text-align: center;
          width: 100%;
          color: var(--sdesign-preto);
          padding: to-rem(8);

          &:hover {
            background: rgba(31, 31, 31, 0.034);
          }
        }
      }
    }
  }

  &.--ativo {
    .header__menu {
      div {
        background: transparent !important;

        &,
        &::before,
        &::after {
          background: var(--sdesign-laranja);
        }

        &::before,
        &::after {
          transition: 0.2s transform ease-in-out;
        }

        &::before {
          transform: rotate(45deg);
        }

        &::after {
          transform: rotate(-45deg);
        }
      }
    }

    .header-nav {
      opacity: 1;
      visibility: visible;
      transition: 0.3s all ease-in-out;
    }
  }
}
